{% extends "base.html" %}
{% block content %}

{{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
{{ macros.m_row_start('5') }}
{{ macros.m_row_end() }}

{{ macros.m_hr_black() }}


<form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">

    {{ macros.setting_input_text_and_buttons('jav_uncensored_1pondo_test_code', '1pondo 테스트 품번', [['jav_uncensored_1pondo_test_btn', '테스트'], ['jav_uncensored_1pondo_nfo_download_btn', 'NFO'], ['jav_uncensored_1pondo_yaml_download_btn', 'YAML'], ['jav_uncensored_1pondo_pl_download_btn', '포스터(원본)'], ['jav_uncensored_1pondo_p_download_btn', '포스터(세로)']], value=arg['jav_uncensored_1pondo_test_code'], desc=None) }}
    {{ macros.setting_checkbox('jav_uncensored_1pondo_use_proxy', '1pondo Proxy 사용', value=arg['jav_uncensored_1pondo_use_proxy'], desc=None) }}
    <div id="jav_uncensored_1pondo_use_proxy_div" class="collapse">
      {{ macros.setting_input_text('jav_uncensored_1pondo_proxy_url', '1pondo Proxy URL', value=arg['jav_uncensored_1pondo_proxy_url']) }}
    </div>

    {{ macros.m_hr() }}
    {{ macros.setting_input_text_and_buttons('jav_uncensored_10musume_test_code', '10musume 테스트 품번', [['jav_uncensored_10musume_test_btn', '테스트'], ['jav_uncensored_10musume_nfo_download_btn', 'NFO'], ['jav_uncensored_10musume_yaml_download_btn', 'YAML'], ['jav_uncensored_10musume_pl_download_btn', '포스터(원본)'], ['jav_uncensored_10musume_p_download_btn', '포스터(세로)']], value=arg['jav_uncensored_10musume_test_code'], desc=None) }}
    {{ macros.setting_checkbox('jav_uncensored_10musume_use_proxy', '10musume Proxy 사용', value=arg['jav_uncensored_10musume_use_proxy'], desc=None) }}
    <div id="jav_uncensored_10musume_use_proxy_div" class="collapse">
      {{ macros.setting_input_text('jav_uncensored_10musume_proxy_url', '10musume Proxy URL', value=arg['jav_uncensored_10musume_proxy_url']) }}
    </div>

    {{ macros.m_hr() }}
    {{ macros.setting_input_text_and_buttons('jav_uncensored_paco_test_code', 'Paco 테스트 품번', [['jav_uncensored_paco_test_btn', '테스트'], ['jav_uncensored_paco_nfo_download_btn', 'NFO'], ['jav_uncensored_paco_yaml_download_btn', 'YAML'], ['jav_uncensored_paco_pl_download_btn', '포스터(원본)'], ['jav_uncensored_paco_p_download_btn', '포스터(세로)']], value=arg['jav_uncensored_paco_test_code'], desc=None) }}
    {{ macros.setting_checkbox('jav_uncensored_paco_use_proxy', 'Paco Proxy 사용', value=arg['jav_uncensored_paco_use_proxy'], desc=None) }}
    <div id="jav_uncensored_paco_use_proxy_div" class="collapse">
      {{ macros.setting_input_text('jav_uncensored_paco_proxy_url', 'Paco Proxy URL', value=arg['jav_uncensored_paco_proxy_url']) }}
    </div>

    {{ macros.m_hr() }}
    {{ macros.setting_input_text_and_buttons('jav_uncensored_heyzo_test_code', 'heyzo 테스트 품번', [['jav_uncensored_heyzo_test_btn', '테스트'], ['jav_uncensored_heyzo_nfo_download_btn', 'NFO'], ['jav_uncensored_heyzo_yaml_download_btn', 'YAML'], ['jav_uncensored_heyzo_pl_download_btn', '포스터(원본)'], ['jav_uncensored_heyzo_p_download_btn', '포스터(세로)']], value=arg['jav_uncensored_heyzo_test_code'], desc=None) }}
    {{ macros.setting_checkbox('jav_uncensored_heyzo_use_proxy', 'heyzo Proxy 사용', value=arg['jav_uncensored_heyzo_use_proxy'], desc=None) }}
    <div id="jav_uncensored_heyzo_use_proxy_div" class="collapse">
      {{ macros.setting_input_text('jav_uncensored_heyzo_proxy_url', 'heyzo Proxy URL', value=arg['jav_uncensored_heyzo_proxy_url']) }}
    </div>

    {{ macros.m_hr() }}
    {{ macros.setting_input_text_and_buttons('jav_uncensored_carib_test_code', 'carib 테스트 품번', [['jav_uncensored_carib_test_btn', '테스트'], ['jav_uncensored_carib_nfo_download_btn', 'NFO'], ['jav_uncensored_carib_yaml_download_btn', 'YAML'], ['jav_uncensored_carib_pl_download_btn', '포스터(원본)'], ['jav_uncensored_carib_p_download_btn', '포스터(세로)']], value=arg['jav_uncensored_carib_test_code'], desc=None) }}
    {{ macros.setting_checkbox('jav_uncensored_carib_use_proxy', 'carib Proxy 사용', value=arg['jav_uncensored_carib_use_proxy'], desc=None) }}
    <div id="jav_uncensored_carib_use_proxy_div" class="collapse">
      {{ macros.setting_input_text('jav_uncensored_carib_proxy_url', 'carib Proxy URL', value=arg['jav_uncensored_carib_proxy_url']) }}
    </div>

    {{ macros.m_hr() }}
    {{ macros.setting_input_text_and_buttons('jav_uncensored_fc2com_test_code', 'fc2 테스트 품번', [['jav_uncensored_fc2com_test_btn', '테스트'], ['jav_uncensored_fc2com_nfo_download_btn', 'NFO'], ['jav_uncensored_fc2com_yaml_download_btn', 'YAML'], ['jav_uncensored_fc2com_pl_download_btn', '포스터(원본)'], ['jav_uncensored_fc2com_p_download_btn', '포스터(세로)']], value=arg['jav_uncensored_fc2com_test_code'], desc=None) }}

    {{ macros.setting_checkbox('jav_uncensored_fc2com_use_fc2_com', 'fc2.com 검색 사용', value=arg['jav_uncensored_fc2com_use_fc2_com'], desc=['공식 사이트에서 검색합니다.']) }}
    <div id="jav_uncensored_fc2com_use_fc2_com_div" class="collapse">
      {{ macros.setting_checkbox('jav_uncensored_fc2com_use_proxy', 'fc2com Proxy 사용(공통)', value=arg['jav_uncensored_fc2com_use_proxy'], desc=None) }}
      <div id="jav_uncensored_fc2com_use_proxy_div" class="collapse">
        {{ macros.setting_input_text('jav_uncensored_fc2com_proxy_url', 'fc2.com Proxy URL', value=arg['jav_uncensored_fc2com_proxy_url']) }}
      </div>
    </div>

    {{ macros.setting_checkbox('jav_uncensored_fc2com_use_javten_web', 'javten.com 검색 사용', value=arg['jav_uncensored_fc2com_use_javten_web'], desc=['fc2.com 사이트 검색 실패/미사용 시, javten.com을 검색합니다.']) }}
    <div id="jav_uncensored_fc2com_use_javten_web_div" class="collapse">
      {{ macros.setting_checkbox('jav_uncensored_fc2com_use_javten_flaresolverr', 'javten.com FlareSolverr 사용', value=arg['jav_uncensored_fc2com_use_javten_flaresolverr'], desc=['Cloudflare 우회를 위해 FlareSolverr를 사용합니다.', '전역 설정의 FlareSolverr URL이 설정되어 있어야 합니다.']) }}
      {{ macros.setting_checkbox('jav_uncensored_fc2com_use_javten_proxy', 'javten.com 전용 Proxy 사용', value=arg['jav_uncensored_fc2com_use_javten_proxy'], desc=['Javten 접속 시에만 사용할 별도의 Proxy를 설정합니다.', '해제 시 fc2com Proxy(공통) 설정을 따릅니다.']) }}
      <div id="jav_uncensored_fc2com_use_javten_proxy_div" class="collapse">
        {{ macros.setting_input_text('jav_uncensored_fc2com_javten_proxy_url', 'javten.com Proxy URL', value=arg['jav_uncensored_fc2com_javten_proxy_url'], desc=None) }}
      </div>
    </div>

    {{ macros.m_hr() }}
    {{ macros.setting_checkbox('jav_uncensored_use_preview_clip', '프리뷰 클립 생성', value=arg['jav_uncensored_use_preview_clip'], desc=['Uncensored 작품에 대해 몽타주 프리뷰 클립을 생성하고 관리하는 기능을 활성화합니다. (세부 FFmpeg/Rclone 설정은 JAV Censored 설정 공유)']) }}
    <div id="jav_uncensored_use_preview_clip_div" class="collapse">
      {{ macros.setting_checkbox('jav_uncensored_preview_auto_create', '예고편 부재 시 프리뷰 클립 자동 생성', value=arg.get('jav_uncensored_preview_auto_create'), desc=['공식 예고편이 없을 때 원본 영상에서 프리뷰 클립을 백그라운드로 자동 생성합니다.']) }}
    </div>

    {{ macros.m_hr() }}
    {{ macros.setting_radio_with_value('jav_uncensored_image_mode', '이미지 URL 처리 방법', [['ff_proxy', '기본'], ['discord_proxy', '디스코드'], ['image_server', '이미지 서버']], value=arg['jav_uncensored_image_mode'], desc=['기본: FF 사용', '디스코드: 선택된 이미지를 디스코드에 업로드하여 이용.', '이미지 서버: 선택된 이미지를 저장하고 연결된 URL을 사용', '※ 이미지 서버 기본 설정(URL, 로컬 Root, 저장 방식)은 [JAV Censored] 설정을 공통으로 공유합니다.']) }}

    <div id="jav_uncensored_use_image_server_div" class="collapse">
      {{ macros.setting_input_text('jav_uncensored_image_server_save_format', '포스터 저장 폴더 포맷', value=arg['jav_uncensored_image_server_save_format'], desc=['사용가능: {label}, {label_1}, {year}', '기본값: /jav/uncen/{label}']) }}
    </div>

  </div><!--tab-content-->
</form>


<script type="text/javascript">
$(document).ready(function(){
  const sites = ['1pondo', '10musume', 'paco', 'heyzo', 'carib', 'fc2com'];
  sites.forEach(function(site) {
    use_collapse("jav_uncensored_" + site + "_use_proxy");

    $('#jav_uncensored_' + site + '_use_proxy').change(function() {
      use_collapse('jav_uncensored_' + site + '_use_proxy');
    });
  });

  use_collapse("jav_uncensored_fc2com_use_fc2_com");
  use_collapse('jav_uncensored_fc2com_use_javten_web');
  use_collapse("jav_uncensored_fc2com_use_javten_proxy");
  use_image_server("{{arg['jav_uncensored_image_mode']}}");
  use_collapse("jav_uncensored_use_preview_clip");
});

$('#jav_uncensored_use_preview_clip').change(function() {
  use_collapse('jav_uncensored_use_preview_clip');
});

$('input[type=radio][name=jav_uncensored_image_mode]').change(function() {
  use_image_server(this.value);
});

function use_image_server(value) {
  if (value == 'image_server') {
    $('#jav_uncensored_use_image_server_div').collapse('show');
  } else {
    $('#jav_uncensored_use_image_server_div').collapse('hide');
  }
}

$("body").on('click', 'button[id^="jav_uncensored_"][id$="_btn"]', function(e){
  e.preventDefault();
  const btnId = $(this).attr('id');
  const parts = btnId.split('_'); 

  const site = parts[2];

  const actionParts = parts.slice(3, -1); 
  const action = actionParts.join('_');

  const codeInputId = "jav_uncensored_" + site + "_test_code";
  const code = document.getElementById(codeInputId).value;

  if (action === 'test') {
    if (!code || !code.trim()) { notify('테스트 코드 입력', 'warning'); return; }
    globalSendCommand('test', site, code);
  } 
  else if (action === 'nfo_download') {
    window.location.href = '/metadata/normal/jav_uncensored/nfo_download?call=' + site + '&code=' + code;
  }
  else if (action === 'yaml_download') {
    window.location.href = '/metadata/normal/jav_uncensored/yaml_download?call=' + site + '&code=' + code;
  }
  else if (action === 'pl_download') {
    window.location.href = '/metadata/normal/jav_uncensored/image_download?call=' + site + '&type=pl&code=' + code;
  }
  else if (action === 'p_download') {
    window.location.href = '/metadata/normal/jav_uncensored/image_download?call=' + site + '&type=p&code=' + code;
  }
});

$('input[id$="_test_code"]').on('keypress', function(e) {
  if (e.which === 13) {
    e.preventDefault();
    var siteName = $(this).attr('id').split('_')[2];
    var buttonId = '#jav_uncensored_' + siteName + '_test_btn';
    $(buttonId).click();
  }
});

$('#jav_uncensored_fc2com_use_fc2_com').change(function() {
  use_collapse('jav_uncensored_fc2com_use_fc2_com');
});

$('#jav_uncensored_fc2com_use_javten_web').change(function() {
  use_collapse('jav_uncensored_fc2com_use_javten_web');
});

$('#jav_uncensored_fc2com_use_javten_proxy').change(function() {
  use_collapse('jav_uncensored_fc2com_use_javten_proxy');
});

</script>
{% endblock %}
